body {
  margin: 0;
  padding: 0;
}
.app-page {
  display: flex;
  flex-direction: column;
}

#world {
  width: 100%;
}

#country-info {
  display: flex;
  background-color: white;
  z-index: 10;
}

.country-flag {
  width: 8rem;
}

.tools button {
  height: 36px;
  width: 36px;
  margin: 10px;
}

@media (min-width: 1250px) {
  #country-info {
    width: 400px;
  }
  .app-page {
    flex-direction: row;
  }
}
