body {
  margin: 0;
  padding: 0;
}
.app-page {
  display: flex;
  flex-direction: column;
}

#world {
  width: 100%;
}

#country-info {
  display: flex;
  background-color: white;
  z-index: 10;
}

.country-flag {
  width: 8rem;
}

.map-container {
  flex-grow: 1;
  width: "100%";
}

.map-box {
  mask-clip: content-box;
  height: 400px;
  overflow: scroll;
}

@media (min-width: 1250px) {
  #country-info {
    width: 400px;
  }
  .map-box {
    height: 100vh;
  }
  .app-page {
    flex-direction: row;
  }
}
